<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <meta charset="UTF-8">
    <title>Calender</title>
</head>
<link href="../static/home.css" rel="stylesheet" type="text/css">
<body>
<header>
    <div id="header_content">
        <header>
            <button id="prev_month" > << </button>
            <h2 id="display_month">March 2017</h2>
            <button id="next_month" > >> </button>
        </header>
    </div>
</header>
<br>
<div class="container">
    <table id="calendar_main" class="table table-bordered">
        <tr >
            <td>S</td>
            <td>M</td>
            <td>T</td>
            <td>W</td>
            <td>Th</td>
            <td>F</td>
            <td>S</td>
        </tr>
        <tbody>
    </table>

</div>
<div style="width: 20%; margin: 20px; float: left;">
    <form class="px-4 py-3">
        <div class="form-group">
            <label for="login_email">Email address</label>
            <input type="email" class="form-control" id="login_email" placeholder="email@example.com">
        </div>
        <div class="form-group">
            <label for="login_password">Password</label>
            <input type="password" class="form-control" id="login_password" placeholder="Password">
        </div>
        <button input type="button" class="btn btn-primary" id="login_btn">Sign in</button>
    </form>
</div>
<div style="width: 20%; margin: 20px; float: right">
    <form class="px-4 py-3">
        <div class="form-group">
            <label for="register_email">Email address</label>
            <input type="email" class="form-control" id="register_email" placeholder="email@example.com">
        </div>
        <div class="form-group">
            <label for="register_password">Password</label>
            <input type="password" class="form-control" id="register_password" placeholder="Password">
        </div>
        <button input type="button" class="btn btn-primary" id="register_btn">Sign up</button>
    </form>
    <button input type="button" class="btn btn-primary" id="logout_btn">Log out</button>
</div>
<div id="mydialog">
    <h4>Add Event</h4>
    Event:<input type="text" name="title" id="title">
    Date:<input type="date" name="date" id="date">
    Time:<input type="time" name="time" id="time">
    Notes:<textarea name="description" id="description"></textarea>
    <button input type="button" class="btn btn-primary" id="save_btn">Add Event</button>
    <input type="submit" value="Save Changes" id="save_changes_btn">
    <input type="submit" value="Delete Event" id="delete_event_btn">
    <input type="hidden" id="single_event_id">
    <input type="hidden" id="csrf_token">
</div>
<script type="text/javascript" src="../static/login.js"></script>
<script type="text/javascript" src="../static/home.js"></script>
<script type="text/javascript" src="../static/event.js"></script>

</body>
</html>
